### Installing Kaggle

In [34]:
!pip install Kaggle

Requirement already satisfied: Kaggle in c:\users\garig\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\garig\anaconda3\lib\site-packages (from Kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\garig\anaconda3\lib\site-packages (from Kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\garig\anaconda3\lib\site-packages (from Kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\garig\anaconda3\lib\site-packages (from Kaggle) (2.32.2)
Requirement already satisfied: tqdm in c:\users\garig\anaconda3\lib\site-packages (from Kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\users\garig\anaconda3\lib\site-packages (from Kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\garig\anaconda3\lib\site-packages (from Kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\garig\anaconda3\lib\site-packages (from Kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\garig\anaconda3\lib\site-packages (from bleach->Kaggle) (23.2)
Requirement already satisfied: webencodings in c:\users\garig\anaconda3\lib\site-packages (from bleach->Kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\garig\anaconda3\lib\site-packages (from python-slugify->Kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\garig\anaconda3\lib\site-packages (from requests->Kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\garig\anaconda3\lib\site-packages (from requests->Kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\garig\anaconda3\lib\site-packages (from tqdm->Kaggle) (0.4.6)

### Importing Kaggle Library
### Downloading the data set named "orders.csv"

In [36]:
import kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

### Extract the file from ZIP file

In [38]:
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()
zip_ref.close()

### Read the data from the file and perform operations

In [40]:
#Read the data from the file and handle the null values

import pandas as pd # importing pandas as pd
df = pd.read_csv('orders.csv') # reading the csv file
cf = df
df.head(20)  # displaying the first 20 from the file

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,Not Available,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,unknown,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3

In [41]:
df['Ship Mode'].unique() # to know how many distinct value in the column 'Ship Mode'

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [42]:
# making the values 'Not Avaliable','unknown' to null values
df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])

In [43]:
df['Ship Mode'].unique() # recheck of distict values from 'Ship Mode' column

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [44]:
# as there are unorganised column names rename column names to lower case and replace space with underscore

df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [45]:
# convert order date  from object datatype to date time

df['order_date']=pd.to_datetime(df['order_date'] , format = '%Y-%m-%d')
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
dtype: object

In [46]:
# derive new columns discount , sale price , profit

# discount
df['discount']=df['list_price']*df['discount_percent']*.01

# sale price
df['sale_price']= df['list_price']-df['discount']

# proft
df['profit']=df['sale_price']-df['cost_price']

In [47]:
# drop the columns costprice,list price,discountpercent 

df.drop(columns=['cost_price','list_price','discount_percent'],inplace=True)

In [63]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

### Loading the data into SQL Server

In [76]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.0 kB 320.0 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 315.7 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [78]:
# load the data into the sql server using replace option

import sqlalchemy as sal
from urllib.parse import quote_plus

# Use urllib to encode the password
password = quote_plus("Aditya@2002")

# Create the connection string
engine = sal.create_engine(f'mysql+pymysql://root:{password}@localhost/project')

# Connect to the database
conn = engine.connect()

In [86]:
#load the data into the sql server using append option

df.to_sql('df_orders',con=conn,index=False ,if_exists = 'append')

# if we load directly with replace  then we will face issues like the space taken will be large and make more memeory
# so we are using append

9994